.navbar-brand img{
	width: 150px;
}
.nav-link {font-size: 1.3em !important}

header .navbar{
	background-image: url('../back.jpg');
	background-repeat:  no-repeat;
	background-size: 100%;
}
.nav-link span{
	color: white;
	font-size: 1.3em;
}
#navbarResponsive a span:hover{
	color: #622C00;
}
.userphoto img{
	max-width: 100%;
	max-height: 250px;
	min-height: 250px;
}
.users{
	margin-top: 15px;
}
.usercontainer{
	margin: 5px;
	border: 1px solid #cccccc;
}
p.header_info{
	text-align: center;
	font-size: 2em;
}
.philosophy p, .mission p{
	width: 100%;
}



.nav-link span{
	color: black;
	font-size: 1.6em;
	font-family: "Monotype Corsiva";
	font-weight: bold;
}
#navbarResponsive a span:hover{
	color: #622C00;
}
.contactInfo{
	text-align: left;
}
.contactInfo span{
	line-height: 0.8;
	font-size: 1.8em;
}
.container-fluid p span{
	color: black;
	font-size: 1.3em;
}
.navbar-brand{
	text-align: center;
	line-height: 0.75;
}
.mc{
	font-family: "Monotype Corsiva";
	font-style: italic;
	font-weight: bold;
}
.an{
	font-size: 1.5em;
}
.rh{
	font-size: 1.5em;
}
a img{
	padding-left: 5%;
	padding-bottom: 2%;
}
.social{
	margin: 0 auto;
}
.social a {
	text-align: center;
	width: 48px;
	height: 48px;
	float: left;
	background: #c07e28;
	border: 1px solid black;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
	border-radius: 24px;
	margin: 0 10px 10px 0;
	padding: 6px;
	color: #000;
}
.instagram a:hover {background: #FD1D1D; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}
.odnoklassniki a:hover {background: #f93; color: #fff;}

.login a span{
	font-size: 1.4em;
}